@import 'variables';

.rightsidebar {
  width: 220px;
  height: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-left: 1px solid;


  mat-toolbar {
    background-color: $primary-color;
  }

  button {
    background-color: $primary-color;
  }
}

.spacer {
  flex: 1 3 auto;
}
