@import 'variables';

.screen-container {
  margin-bottom: 1em;
  flex-basis: 1%;
  overflow-y: scroll;
  max-height: 90vh;
}

.screen {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  //background-color: greenyellow;
}

.spacer {
  flex: 1 3 auto;
}

.show{
  margin-bottom: 1em;
  flex-basis: 1%;
  background-color: indianred;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
 }

.movie {
  margin-bottom: 1em;
  flex-basis: 1%;
  background-color: aqua;
  font-style:italic;
  font-size:x-large;
  font-variant-caps:all-petite-caps;
  color: red;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  
  .title {
    color: $primary-title;
  }

  .rate {
    color: $primary-color-light;
  }
}

.count {
  color: yellow;
}



